name: 'example'

on:
  pull_request:
    branches:
      - main
      - 'releases/*'

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        id: wait-for-branch
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          publicKey: ${{ secrets.TIDB_CLOUD_PUBLIC_KEY }}
#          privateKey: ${{ secrets.TIDB_CLOUD_PRIVATE_KEY }}
          addMask: false
          env: dev
      - name: Use the output
        run: |
            echo "The host is ${{ steps.wait-for-branch.outputs.host }}"
            echo "The username is ${{ steps.wait-for-branch.outputs.username }}"
            echo "The password is ${{ steps.wait-for-branch.outputs.password }}"
    outputs:
      username: ${{ steps.wait-for-branch.outputs.username }}
      host: ${{ steps.wait-for-branch.outputs.host }}
      password: ${{ steps.wait-for-branch.outputs.password }}

  test:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Use the output
        run: |
          echo "The host is ${{ needs.setup.outputs.host }}"
          echo "The username is ${{ needs.setup.outputs.username }}"
          echo "The password is ${{ needs.setup.outputs.password }}"